body {
  background-color: rgb(226, 217, 217);
}

.container {
  display: flex;
  flex-direction: row;
}

.block {
  height: 1em;
  width: 1em;
  line-height: 1em;
  color: white;
  margin: 3px;
  border-radius: 1em;
  text-align: center;
  vertical-align: middle;
}

.block-unvisited {
  background-color: orange;
}

.block-wall {
  background-color: black;
}

.block-character {
  background-color: rgb(0, 255, 0);
}

.block-goal {
  background-color: rgb(255, 0, 0);
}

.block-visited {
  background-color: rgb(202, 211, 84);
}